<!DOCTYPE html>

<html>
  <head>
    <!-- Compiled Stylesheet -->
    {{{styles}}}

    <!-- Typekit -->
    <script src="//use.typekit.net/tme5fzo.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    
  </head>

  <body>Hello world</body>
</html>